<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="shared/meta :: meta"></th:block>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
<body>

	<!-- Navigation -->
	<nav class="navbar nav-menu">
		<div>
			<a href="index"><img class="logo" src="img/logo.png"></a>
		</div>
	</nav>
	<br>
	<div class="container">
		<br>
		<h1 class="text-center">O AdoptPet</h1>
		<br>
		<p>É possivél fazer a adoção de um pet de estimação de maneira
			consciente, trabalhamos para encontrar para o seu bichinho de
			estimação uma pessoa ou familía que tenha realmente o perfil para
			adoção adequado do seu pet.</p>
		<p>É possivél dar uma nova vida, cheia de alegria e amor para os
			bichinhos encontrados em situação de abandono, vitímas de maus tratos
			ou aqueles que não temos mais condições de cuidar, seja porque você
			não tem mais condições financeiras, ou porque você não tem mais tempo
			para levá-lo para passeios para gastar energia e se socializar, seja
			porque você não consegue mais lidar com o comportamento do seu
			bichinhos, nós entendemos isso, e neste momento difícil, estamos aqui
			para ajudar a tomar a melhor decisão para o seu bichinho.</p>
		<p>A maneira que encontramos de avaliar o seu pet e o futuro
			adotador é totalmente diferente e confiável, e é você quem escolhe o
			futuro adotador(a).</p>
		<p>No momento da Adoção passamos o perfil mais exato e completo
			possivél para você dono de primeira viagem ou com mais experiência,
			damos a garantia que seu pet terá as caractéristicas compativéis com
			o animal que você procura e que melhor se identifica com a sua
			personalidade.</p>
		<p>Nossa missão é encontrar familias que estejam dispostas a amar,
			cuidar e dedicar seu tempo ao seu novo integrante da familía
			independente da história passada do bichinho, o ideal é oferecer
			carinho, conforto e recursos para que ele possar ter uma ótima vida
			ao seu lado.</p>
		<p>Se você se identificou conosco, venha adotar ou doar um
			bichinho, vamos juntos salvar os nossos animais dando-lhes a
			oportunidade de uma nova e melhor vida.</p>
	</div>

	<br>

	<!-- Footer -->
	<th:block th:include="shared/footer :: footer"></th:block>
	<!-- ./Footer -->

</body>
</html>