<!DOCTYPE html>
	<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<th:block th:include="shared/meta :: meta"></th:block>
						
<body>
	<div style="width: 100%;">
		<!-- Navigation -->
		<nav class="navbar nav-menu">
			<div>
				<a href="portal.html"><img class="logo"
					th:src="@{/img/logo.png}"></a> <a class="login-user"
					data-toggle="modal" data-target="#modalRegisterFormUserDonate">
					<i class="fas fa-user-circle"></i> Login
				</a>
				<!-- Modal Resgister User Donate-->
				<div class="modal fade" id="modalRegisterFormUserDonate"
					tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
					aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header text-center">
								<div>
									<a href="index.html"><img class="logo"
										src="img/favicon.png"></a>
								</div>
								<h4 class="modal-title w-100 title-modal title-center">
									Acesse a sua conta</h4>
							</div>
							<div class="modal-body mx-5">
								<form>
									<div class="md-form mb-4">
										<label for="exampleFormControlInput1"> Email </label> <input
											type="email" class="form-control"
											placeholder="name@exemple.com">
									</div>
									<div class="md-form mb-4">
										<label data-error="wrong" data-success="right"> Senha
										</label> <input type="password" class="form-control"
											placeholder="********">
									</div>
								</form>
								<br>
								<div class="text-center">
									<p>
										Não tem uma conta? <a href="register-user.html"
											style="color: #460fcd;">Cadastre-se</a>
									</p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-light"
										data-dismiss="modal">Fechar</button>
									<a href="adote-um-pet.html" class="btn btn-info" role="button"
										aria-pressed="true">Entrar</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<!-- Jumbotron with background -->
		<div class="jumbotron jumbotron-fluid jumbotron-with-background">
			<div class="container"
				style="vertical-align: middle; text-align: center;">
				<div class=" row ">
					<div class="col-sm-6 "></div>
					<div class="col-sm-6 ">
						<h3 class="display-title">Adote nossos amiguinhos de quatro
							patas</h3>
					</div>
				</div>
				<div class="row ">
					<div class="col-sm-6 "></div>
					<div class="col-sm-6 div-button-info-banner">
						<a href="adote-um-pet.html" class="btn btn-info-banner"
							role="button " aria-pressed="true "> + Amigos </a>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<h2 class="adopt-title text-center ">Encontre o seu mais novo
				amigo</h2>
			<br>
			<div class="row ">
				<a href="adote-um-pet.html">
					<div class="col-sm-4">
						<div class="card" style="width: 350px" href="#">
							<img class="card-img-top " src="img/doguinho1.jpg "
								style="width: 100%">
							<div class="card-body">
								<p></p>
								<div class="row">
									<div class="col-sm-6 ">
										<h7 class="card-title">{{NomePet}} <br>
										{{City}}, {{UF}}</h7>
									</div>
									<div class="col-sm-6 text-right">
										<img class="card-icon" src="img/cao-icon.png" />
									</div>
								</div>
								<p class="card-text">{{Age}}</p>
								<p>P M G</p>
							</div>
						</div>
					</div>
				</a> <a href="adote-um-pet.html">
					<div class="col-sm-4">
						<div class="card " style="width: 350px">
							<img class="card-img-top " src="img/gatinho1.jpg "
								style="width: 100%">
							<div class="card-body">
								<p></p>
								<div class="row">
									<div class="col-sm-6 ">
										<h7 class="card-title">{{NomePet}} <br>
										{{City}}, {{UF}}</h7>
									</div>
									<div class="col-sm-6 text-right">
										<img class="card-icon" src="img/gato-icon.png" />
									</div>
								</div>
								<p class="card-text">{{Age}}</p>
								<p>P M G</p>
							</div>
						</div>
					</div>
				</a> <a href="adote-um-pet.html">
					<div class="col-sm-4 ">
						<div class="card " style="width: 350px">
							<img class="card-img-top " src="img/doguinho2.jpg "
								style="width: 100%">
							<div class="card-body">
								<p></p>
								<div class="row">
									<div class="col-sm-6 ">
										<h7 class="card-title">{{NomePet}} <br>
										{{City}}, {{UF}}</h7>
									</div>
									<div class="col-sm-6 text-right">
										<img class="card-icon" src="img/cao-icon.png" />
									</div>
								</div>
								<p class="card-text">{{Age}}</p>
								<p>P M G</p>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<br>
		<div class="row text-center ">
			<a href="adote-um-pet.html " class="btn btn-info-banner "
				role="button " aria-pressed="true "> + Amigos </a>
		</div>
		<hr>
		<!--Register Donate-->
		<div class="container text-center donate-pet">
			<br>
			<h2>Ajude-nos a salvar vidas, doe um pet !</h2>
			<h5>Acreditamos que todo animal de rua merece um lar, e que todo
				animal de canil merece uma nova chance de ser feliz</h5>
			<a href="register-user.html " class="btn btn-info-banner"
				role="button " aria-pressed="true ">Doe</a>
		</div>
		<!-- Footer -->
		<th:block th:include="shared/footer :: footer"></th:block>
		<!-- ./Footer -->
	</div>
</body>

</html>